#Heading{
    text-align: center;
    font-size: 100px;

}
#body{
    background-color: yellow;

}
.button{
    background-color: transparent;
  width: 25%;
  height: 25%;
  line-height: 200px;
  text-align: center ;
  align-items: center;
    margin: 20px;
    cursor: pointer;
    
}